@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.contentBox {
  margin: 0 5% 10%;
  line-height: 1.4;
  padding-top: 5%;
}

.serviceListWrap {
  margin: auto;
  max-width: 1200px;
}

.img {
  display: inline-block;
  margin-bottom: 2%;
}

.serviceList {
  width: 65%;
  display: inline-block;
}

.descriptionArea {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.description {
  @include font-size(16);
  letter-spacing: .01em;
  line-height: 1.6;
  width: 60%;
}

.button {
  > a {
    position: relative;
    background-color: $color-green-2;
    color: $color-white;
    display: inline-block;
    @include font-size(16);
    padding: 10px 44px 10px 24px;
    text-decoration: none;
    :hover,
    :visited {
      background-color: $color-green-3;
      text-decoration: none;
      transition: .3s;
    }
  }
}

.buttonIcon {
  position: absolute;
  background: url('/img/common/icon/icnLink.svg');
  height: 12px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
}
