@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.menuList {
  width: 100%;
  list-style: none;
  @include font-size(14);
  padding: 0;
}

.menuListItem {
  display: inline-block;
  position: relative;
  font-weight: 300;

  &+& {
    margin-left: 20px;

    &::before {
      position: absolute;
      bottom: 1px;
      left: -11px;
      width: 1px;
      height: 15px;
      background: $color-white;
      content: '';
    }
  }
}

.menuItemLink {
  text-decoration: none;
  display: block;
  color: $color-white;

  &:hover {
    color: $color-white;
    text-decoration: underline;
  }
}
