@use "styles/sass/foundation/variables.scss" as *;

.contBox {
  margin: 0 5% 10%;
  padding-top: 5%;
}

.card {
  max-width: 1200px;
  margin: auto;
  box-shadow: $shadow-1;
  display: flex;
  overflow: hidden;
}

.textArea {
  width: 80%;
  vertical-align: top;
  margin: 3vw;
}

.officialPosition {
  padding: 20px 20px 0 0;
  text-align: right;
  margin: 0;
}

.representativeName {
  padding-right: 20px;
  font-weight: 400;
  letter-spacing: .05em;
  text-align: right;
  margin: 0;
}

.imgArea {
  display: flex;
  align-items: center;
  position: relative;
  width: 22%;
}

.img {
  z-index: 2;
  width: 100%;
  position: absolute;
  margin-right: -20%;
  right: 30%;
}

.circle {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: -10%;
  right: -30%;
  border-radius: 50%;
  background: $color-green-2;
  opacity: 0.5;
}
