@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.title {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 5% 0 0;
  color: $color-green-4;
  font-weight: 900;
  letter-spacing: .05em;
  @include font-size(30);

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 90px;
    height: 8px;
    margin: 3% auto;
    background-color: $color-green-4;
    content: '';
  }
}

.widthQuarter {
  width: 25%;
}
