$color-quarterlyGreen: #ADD9D9;

.title {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 5%;
  color: $color-quarterlyGreen;
  font-weight: 900;
  letter-spacing: .05em;
  font-size: 30px;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 90px;
    height: 8px;
    margin: 3% auto;
    background-color: $color-quarterlyGreen;
    content: '';
  }
}
