@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.message {
  font-weight: 300;
  @include font-size(16);
  color: $color-font;
  line-height: 1.4;
}
