@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.list {
  font-weight: 300;
  list-style: none;
  padding-left: 0;
}

.item {
  margin-top: 5%;

  p {
    margin: 0;
  }
}

.title {
  color: $color-green;
  font-weight: 700;
  letter-spacing: .05em;
}

.text {
  @include font-size(16);
  color: $color-gray;
}

.textWithSpace {
  padding: 5px 0;
}

.link {
  display: inline-block;
  color: $color-gray;
  text-decoration: none;

  &:hover {
      color: $color-gray;
      text-decoration: underline;
  }

  &:visited {
      color: $color-gray;
  }
}
