@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.background {
  height: 104vh;
  min-height: 770px;
  margin-top: -10%;
  box-shadow: inset 0 0 0 2000px rgba($color-purple, .60);
  color: $color-white;
  background: url('/img/top/imgMv.jpg') 80% center no-repeat;
  background-size: cover;
}

.contBox {
  position: relative;
  top: 45%;
  margin: 0 5%;
}

.messageMain {
  @include font-size(100);
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: .02em;
  margin: 0;
}

.messageSub {
  @include font-size(30);
  padding: 2% 0;
  font-weight: 300;
  margin: 0;
}
