@use "styles/sass/foundation/variables.scss" as *;
@use "styles/sass/foundation/mixin.scss" as *;

.contentBox {
  line-height: 1.4;
  margin: 0 5% 10%;
  padding-top: 5%;
}

.companyWrap {
  margin: auto;
  max-width: 1200px;
}

.titleWrap {
  margin: auto;
  max-width: 1200px;
}

.messageBox {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

.listItem {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 5% auto 0;

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;

    .infoArea {
      margin: 0 8% 0 0;
    }
  }
}

.img {
  width: 50%;

  img {
    width: 100%;
    height: auto;
  }
}

.infoArea {
  width: 50%;
  margin-left: 8%;
}

.header {
  color: $color-green;
  font-weight: 700;
  letter-spacing: .05em;
  @include font-size(24);
}
